/* Components */
.navbar {
  background-color: rgb(245, 66, 114);
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  padding: 4px;
  align-items: center;
}

/* Home Page */
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}

.homeContent {
  height: auto;
}

/* Projects */
.projectsCardGrid {
  height: 50%;
  width: 50%;
}

.activeProjectsDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
  align-items: center;
}

/* Animations */
.pulseEffect {
  background-color: #f6efffa1;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: relative;
  margin: auto;
}

.circle {
  position: absolute;
  background-color: forestgreen;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  opacity: 0.5;
  animation: pulse 3s ease-out infinite;
}

.circle:nth-of-type(1) {
  animation-delay: -0.5s;
  background-color: powderblue;
}

.circle:nth-of-type(2) {
  animation-delay: -1s;
  background-color: plum;
}

.circle:nth-of-type(3) {
  animation-delay: -1.5s;
  background-color: peru;
}

@keyframes pulse {
  100% {
    transform: scale(1.75);
    opacity: 0;
  }
}